html
{
	font-size: 2vw;
	text-align: center;
}

#text
{
	position: absolute;
	top: 25vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	font-size: 2.5vw;
}

#start
{
	position: absolute;
	top: 40vh;
	left: 50vw;
	width: 25vw;
	height: 5vh;
	transform: translate(-50%, -50%);
	border: 0.1vw solid;
	text-align: center;
	display: inline;
}

#qNum
{
	position: absolute;
	top: 10vh;
	left: 50vw;
	transform: translate(-50%, -50%);
}

#getAns
{
	top: 75vh;
	left: 50vw;
}

#nextQ
{
	left: 75vw;
}

#prevQ
{
	left: 25vw;
}

.button
{
	position: absolute;
	top: 50vh;
	transform: translate(-50%, -50%);
	border: 0.1vw solid;
	display: none
}