html
{
	overflow-y: hidden;
}

a
{
	text-decoration: none;
	color: black;
}

#home
{
	position: absolute;
	top: 0vh;
	left: 0vw;
	width: 300vw;
	height: 100vh;
}

.button
{
	border: 0.1vw solid;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 7.5vw;
	height: 7.5vw;
}

.buttonTxt
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#b1
{
	left: 50vw;
}

#b2
{
	left: 150vw;
}

#b3
{
	left: 250vw;
}

#Analytical
{
	position: absolute;
	left: 0vw;
	top: 100vh;
	width: 300vw;
	height: 100vh;
	border: 0.1vw solid;
}

#Organic
{
	position: absolute;
	left: 0vw;
	top: 200vh;
	width: 300vw;
	height: 100vh;
	border: 0.1vw solid;
}

#CiS2
{
	position: absolute;
	left: 0vw;
	top: 300vh;
	width: 7.5vw;
	height: 7.5vw;
	width: 300vw;
	height: 100vh;
	border: 0.1vw solid;
}